.new_show_00{
    background-color:#F0F0F0;
    width:1000px;
    min-width:100%;
    height:100%;
}

.new_show_01{
    width: 1000px;
    height: 950px;
    background:#fff;
    margin:17px auto;

}
.new_show_01_left{
    width:696px;
    height:950px;
    float: left;
}
.new_show_01_right{
    width:304px;
    height:950px;
   float: left;
}
.new_show_01_left_1{
    width:671px;
    height:38px;
    background:#CC0001;
    margin:15px auto;
}
.new_show_01_left_1>p{
    color:#fff;
    text-align: center;
    padding-top: 10px;
    font-weight:bold;
}
.new_show_01_left_2{
    font-size:12px;
    width:671px;
    margin: 0px 0px 0px 16px;
}
.new_show_01_left_tu{
    width:660px;
    margin: 13px auto;
}
.new_show_01_left_3{
    font-size:12px;
    width:671px;
    margin: 0px 0px 0px 16px;
    float: left;
    line-height: 26px;
}
.new_show_01_left_3 div{
    float: right;
    position: relative;
    left: -31px;
    top: 5px;
}
.new_show_01_left_3>div>a{
    float: left;
    margin-left: 18px;
}
.new_show_01_left_3>div>a p{
    position:relative;
    left: 6px;
    top: -4px;
}
.new_show_01_left_3>div>a p{
    word-spacing: normal;
      float: right;
}
.new_show_01_left_3>div>a:hover{
    color:red;
    transform: scale(1.1, 1.1);
}
.new_show_01_left_3>a:hover{
    color:red;
}
